.contact {
    text-align: center;
    background: linear-gradient(to right, rgba(245, 245, 245, .8), rgba(245, 245, 245, .8)), url('../assets/common-bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem;
}

.info-paragraph {
    color: #333;
    font-size: 2rem;
    font-weight: 500;
    max-width: 80rem;
    line-height: 1.6;
    margin: 0 auto;
    margin-bottom: 7rem;
}

.form {
    text-align: start;
    box-shadow: rgb(100, 100, 111, 20%) 0 7px 29px 0;
    background-color: #fff;
    max-width: fit-content;
    margin: 0 auto;
    border-radius: 5px;
    position: relative;
}

.form form {
    display: block;
    padding: 4rem;
    width: 800px;
    overflow: hidden;
}

.form form * {
    display: block;
}

.form form input,
.form form textarea {
    font-family: inherit;
    margin-left: 0;
    color: #333;
    padding: 2rem;
    margin-bottom: 3rem;
    width: 100%;
    border: 1px solid #ebebeb;
    font-size: 1.6rem;
    letter-spacing: 0;
    background-color: #f0f0f0;
    border-radius: 5px;
    font-weight: 600;
}

.form form input::placeholder,
.form form textarea::placeholder {
    opacity: .6;
}

.form form input:focus,
.form form textarea:focus {
    outline: 1px solid #c8c8c8;
}


.form form label {
    color: #666;
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.form button {
    margin-left: auto;
}