.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1rem 5rem;
    box-shadow: 0 10px 100px rgb(0, 0, 0, 10%);
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: calc(100vw - 8rem);

}

.logo {
    transition: color;
    transition-duration: 300ms;
    cursor: pointer;
    text-decoration: none;
    color: initial;
}

.logo:hover {
    color: yellow;
}

.navlinks a {
    display: inline-block;
    font-size: 1.6rem;
    color: #333;
    text-decoration: none;
    transition: color;
    transition-duration: 300ms;
    padding: 2.2rem 3rem;
}

.hamburger {
    display: none;
}

.navlinks a:hover {
    color: yellow;
}

@media only screen and (max-width: 395px) {
    .container {
        position: relative;
    }
    .responsiveMenuContainer {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #fff;
        width: 100%;
    }
    .responsiveMenu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        /* width: 100%; */
        padding-right: 7rem;
    }

    .responsiveMenu a {
        text-decoration: none;
        color: initial;
        padding: 2rem 0;
    }

    .navlinks {
        display: none;
    }
    .hamburger {
        display: initial;
    }
}