.header-2 {
    font-size: 3.7rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 5.6rem;
    letter-spacing: 3px;
    position: relative;
}

.header-2::before {
    content: "";
    width: 3rem;
    height: 5px;
    background-color: rgb(250, 207, 15);
    position: absolute;
    border-radius: 5px;
    left: 50%;
    top: calc(100% + 1.5rem);
    transform: translateX(-50%);
}