.project-element {
    margin: 0 auto;
    max-width: fit-content;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image {
    position: relative;
    margin-right: 5rem;
}

.laptopImg {
    width: 67rem;
}

.innerImg {
    position: absolute;
    left: 8.6rem;
    top: 31px;
    height: 78.5%;
    overflow: hidden;
}

.mainImg {
    width: 50rem;
}


/* info */
.info {
    text-align: start;
}

.header {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.info-paragraph {
    font-size: 1.8rem;
    color: #666;
    max-width: 60rem;
    line-height: 1.7;
    margin-bottom: 3rem;
}

@media only screen and (max-width: 1200px) {
    .project-element {
        flex-direction: column;
    }
}


@media only screen and (max-width: 720px) {
    .project-element {
        display: initial;
    }
    .image {
        margin-right: initial;
    }
    .laptopImg {
        width: 54rem;
    }
    .innerImg {
        position: absolute;
        width: 40.5rem;
        top: 25px;
        left: 68px;
    }
    .mainImg {
        width: 40.8rem;
    }
 }

@media only screen and (max-width: 395px) {
    .project-element {
        display: initial;
    }
    .image {
        margin-right: initial;
    }
    .laptopImg {
        width: 54rem;
    }
    .innerImg {
        position: absolute;
        width: 40.3rem;
        top: 16px;
        left: 46px;
    }
    .mainImg {
        width: 40.8rem;
    }
 }


