.chip {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.2rem;
  color: #666;
  padding: 1rem 2rem;
  background-color: rgba(153, 153, 153, 0.2);
  border-radius: 5px;
  margin: 0 1.5rem 1.5rem 0;
}
